<aside class="mc-modal">
    <header>
        {{#if header}}
            {{header}}
        {{else}}
            <button class="close-button">&times;</button>
            <h4>{{title}}</h4>
        {{/if}}
    </header>
    <section>
        {{content}}
    </section>
    {{#if footer}}
        <footer>
            {{footer}}
        </footer>
    {{/if}}
</aside>
